#large {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#drag-drop {
  flex: 1 1 auto;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow: auto;
}
